body {
    font: normal 14px/1.8 "Roboto", sans-serif;
    background-color: #fff;
    color: #434146;
    margin: 0;
    padding: 0;
    display: block;
}

h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    margin: 0 auto 30px;
    color: #ffffff;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    margin: 0 auto 60px;
    color: black;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    max-width: 620px;
    margin: 0 auto 30px;
    color: #ffffff;
}

a {
    text-decoration: none;
}

.homepage-content {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}

section {
    padding: 60px 30px;
}

.watch-party-made-easy {
    background-color: #531F62;
    background-image: url(assets/pages/home/gradient-violet-bg.jpg);
    background-size: cover;
}

.publications {
    background-color: #f4fafa;
    text-align: center;
}

.what-is-kast {
    background-color: #ffffff;
    background-image: url(assets/pages/home/green-bg.jpg);
    background-size: cover;
}

.what-is-kast h1 {
    margin: 0 auto 60px;
}

.watch-party-made-easy img {
    position: relative;
    width: auto;
    max-width: 100%;
    max-height: calc(100vh - 83px - 30px - 260px - 60px);
}

.button {
    min-width: 215px;
    width: 100%;
    height: 44px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px 32px;
    font-weight: bold;
    letter-spacing: 1.44px;
    color: #ffffff;
    border-radius: 3px;
    background: #FE9000;
    text-align: center;
    border: 1px solid transparent;
}

.publications-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 140px;
    grid-row-gap: 80px;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    max-width: 880px;
    margin: 0 auto 60px;
}

.quote-block {
    font-size: 16px;
    font-style: italic;
    color: #414854;
    text-align: right;
    max-width: 734px;
    margin-left: auto;
    margin-right: auto;
}

q {
    font-size: 18px;
    margin-bottom: 12px;
}

header {
    height: 83px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 205px auto 104px;
    grid-column-gap: 40px;
    padding: 19px 20px;
  }

.logo-img {
    width: 100%;
    filter: blur(0);
    vertical-align: middle;
    border-style: none;
}

.logo-container {
    width: 201px;
    height: auto;
    top: 19px;
    left: 20px;
    padding: 0;

    /* display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap; */
}

.download-header {
    position: absolute;
    top: 29px;
    right: 20px;
    display: inline-block;
    background: transparent;
    border-radius: 3px;
    height: 27px;
    line-height: 27px;
    width: 104px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.5px;
    /* box-shadow: inset 0px 0px 0px 1px #fff;
    border: 1px solid transparent; */
    color: #ffffff;
}